.App {
  /* border:solid green; */
  margin: 0 2.5%;
  padding: 1% 2.5%;
}
#search-input{
  height:1.5rem;
  display:flex;
  align-items: center;
  margin-top:1rem
  

}
.card-home {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row !important; */
}
.card-home div {width:50%}

.navs {
 
  display: flex;
  justify-content: space-evenly;
  width: 100%;
 font-size: 1.2rem;
 font-weight: 500;
 background: #29200b2d;
}
.navs a {
  padding: 1% 2%;
  color: white;
  text-decoration: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-card {
  border: solid green
}